<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
  	<div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1>{{title}}</h1>
          <p>Welcome to {{title}}</p>
        </div>
      <div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/">Control</a></li>
            <li role="presentation"><a href="/view">View</a></li>
            <li role="presentation"><a href="/about">About</a></li>
          </ul>
        </div>
      </div>
    {{{body}}}
    <div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</html>
